.container {
    padding: 2.5rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #3b3e41;

    >h4 {
        font-size: 2rem;
    }

    >p {
        font-size: 1.2rem;
    }
}

.gridview-container {
    border-radius: 10px;
    border: 1px solid #eef5ff;
    outline: 1px solid #f5f8fe;
    background-color: #fff;

    .btn-wrapper {
        display: flex;
        gap: 10px;
        justify-content: flex-end;
        padding: 2.5rem 2rem 1rem;
    }

    .filter-wrapper {
        padding: 2rem 2rem 1rem;

        >form {
            display: flex;
            justify-content: space-between;

            >.name-search {
                min-width: 200px;

                input {
                    width: 100%;
                }
            }
        }
    }
}


.name-search {
    height: 60px;
    width: 50%;
}

.name-search .mat-form-field-wrapper {
    padding-bottom: 0;
    padding-top: 0;
    height: 100%;

}

.name-search .mat-input-element {

    height: 100%;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    line-height: 60px;
}


:host ::ng-deep .name-search .mat-form-field-outline-start,
:host ::ng-deep .name-search .mat-form-field-outline-end {
    border-color: #4a90e2 !important;
}

:host ::ng-deep .name-search .mat-form-field-outline-thick {
    color: #4a90e2;
}

:host ::ng-deep .name-search.mat-focused .mat-form-field-outline-thick {
    border-color: #0066ff !important;
}