<div>
    <div class="asistant-header">
        <mat-icon>adb</mat-icon>
        <span>
            {{"MainHero.assistantHeader" | translate}}
        </span>
    </div>
    <div class="chat-section">
        <div class="chat-icon-wrapper">
            <mat-icon>android</mat-icon>
        </div>
        <mat-card class="chat-content-wrapper mat-elevation-z2">
            <span>{{"MainHero.assistantGreeting" | translate}}</span>
        </mat-card>
    </div>
    <div class="recommendations-wrapper">
        <div class="recommendation-card">
            <mat-icon>psychology_alt</mat-icon>
            <span>{{"MainHero.recommendations" | translate}}</span>
        </div>
        <div class="recommendation-card">
            <mat-icon>psychology_alt</mat-icon>
            <span>{{"MainHero.recommendations" | translate}}</span>
        </div>
        <div class="recommendation-card">
            <mat-icon>psychology_alt</mat-icon>
            <span>{{"MainHero.recommendations" | translate}}</span>
        </div>
        <div class="recommendation-card">
            <mat-icon>psychology_alt</mat-icon>
            <span>{{"MainHero.recommendations" | translate}}</span>
        </div>
        <div class="recommendation-card">
            <mat-icon>psychology_alt</mat-icon>
            <span>{{"MainHero.recommendations" | translate}}</span>
        </div>
        <div class="recommendation-card">
            <mat-icon>psychology_alt</mat-icon>
            <span>{{"MainHero.recommendations" | translate}}</span>
        </div>
    </div>
</div>