.container {
    padding: 30px 50px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 2rem;
    background-color: oklch(1 0 0);
}

.section-wrapper {
    background-color: #f5f9fb;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border: 1px solid #dfe5eb;
    padding: 30px;
}

.navigation-wrapper {
    align-self: start;
}

.user-details-container {
    padding: 2rem 0;
    cursor: default;
}

.details-wrapper {
    background-color: #ddebf4;
    padding: 30px;
    display: flex;
    align-items: center;
}

.user-details {
    display: flex;
    flex: 1;
    column-gap: 2rem;
    align-items: center;
}

.user-photo-wrapper {
    width: 100px;
    height: 100px;
    background-color: red;
    border: 3px solid #fff;
    border-radius: 50%;
    background-image: url('/assets/images/download.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.user-detail-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    .user-header {
        display: flex;
        align-items: center;
        column-gap: 1rem;
        color: #5a656e;
        padding: 10px 0;

        .user-name {
            font-size: 2rem;
            color: #002543;
        }

        .user-role {
            background-color: #dbeafe;
            color: #193cb8;
            font-size: 12px;
            font-weight: bold;
            padding: 4px 10px;
            border-radius: 10px;
        }
    }

    .user-department {
        font-size: 1.3rem;
        padding: 5px 0;
    }

    .user-specialization {
        font-size: 1.1rem;
    }

    .user-contact {
        display: flex;
        column-gap: 1rem;
        margin-bottom: 1rem;

        .contact-item {
            display: flex;
            align-items: center;
            column-gap: 4px;

            >span {
                font-size: 1.2rem;
            }

            .contact-text {
                font-size: 1.1rem;
            }
        }
    }
}

.edit-btn {
    >button {
        display: flex;
        align-items: center;
        background-color: #fff;
        color: #002543;
        border: none;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        padding: 10px 16px;
        border-radius: 12px;
        column-gap: 5px;
        transition: all 0.2s ease-in;

        &:hover {
            cursor: pointer;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
        }

        span {
            font-size: 1.3rem;
        }

        p {
            font-size: 1.1rem;
        }
    }
}

.information-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;

}

.switcher-container {
    padding: 30px;

    .wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 0.7rem;

        .header {
            font-size: 1.3rem;
            color: #002543;
        }

        .subtitle {
            font-size: 1.1rem;
            color: #5a656e;
        }

        .btn-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
            margin: 20px 0;
            background-color: #eef2f5;
            padding: 3px;
            border-radius: 10px;
            gap: 5px;

            button {
                padding: 10px 0;
                border: none;
                font-size: 16px;
                color: #3a3a3a;

                &.selected {
                    background-color: #fff;
                    border-radius: 10px;
                }
            }
        }
    }
}

.general-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    .section-wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 1.2rem;

        &.notification-wrapper,
        &.appointment-wrapper {
            align-self: start;
        }


        .header {
            display: flex;
            align-items: center;
            column-gap: 10px;
            font-size: 1.1rem;
            font-weight: bold;
        }

        .body {
            display: flex;
            flex-direction: column;
            row-gap: 1rem;

            .card {
                border: 1px solid #dfe5eb;
                padding: 15px;
                border-radius: 10px;
                display: flex;

                &.appointment-card {
                    flex-direction: row;
                    align-items: center;

                    .status {
                        background-color: #003e72;
                        color: #fff;
                        padding: 3px 10px;
                        border-radius: 10px;
                        font-size: 13px;
                    }

                    .information-section {
                        display: flex;
                        flex-direction: column;
                        flex: 1;
                        row-gap: 0.8rem;

                        .header {
                            font-size: 1.2rem;
                            color: #002543;
                            font-weight: bold;
                        }

                        .time-wrapper {
                            display: flex;
                            column-gap: 2rem;

                            >div {
                                font-size: 1.1rem;
                                color: #5a656e;
                                display: flex;
                                column-gap: 5px;
                                align-items: center;

                                >.material-symbols-outlined {
                                    font-size: 1.1rem;
                                }
                            }
                        }

                        .type {
                            font-size: 1.1rem;
                            color: #5a656e;
                        }
                    }
                }

                &.notification {
                    display: flex;
                    flex-direction: column;
                    row-gap: 10px;

                    p:first-of-type {
                        width: 70%;
                        font-size: 16px;
                        color: #002543;
                    }

                    p:last-of-type {
                        color: #5a656e;
                    }
                }
            }
        }
    }
}

.general-information {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;

    .header {
        display: flex;
        align-items: center;
        column-gap: 0.7rem;

        span {
            font-size: 1.7rem;
        }

        p {
            font-size: 1.2rem;
        }
    }

    .information {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;

        >div {
            display: flex;
            flex-direction: column;
            row-gap: 5px;

            .title {
                font-size: 1.1rem;
                color: #5a656e;
            }

            .value {
                color: #002543;
                font-size: 1.2rem;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .container {
        grid-template-columns: 1fr;
    }

    .details-wrapper,
    .user-details,
    .user-detail-wrapper,
    .user-header,
    .user-contact {
        flex-direction: column;
    }

    .user-header {
        gap: 10px;
    }

    .section-wrapper {
        width: 80vw;
    }

    .section-wrapper .body .card {
        p:nth-of-type(1) {
            font-size: 1rem !important;
            width: 100% !important;
        }

        p:nth-of-type(2) {
            font-size: 0.9rem !important;
        }
    }

    .general-information .information {
        grid-template-columns: repeat(1, 1fr);
    }

    .switcher-container .wrapper .header {
        font-size: 1.2rem;
    }

    .switcher-container .wrapper .subtitle {
        font-size: 1.1rem;
    }
}