<div class="container">
    <div class="section-wrapper navigation-wrapper" *ngIf="links.length > 0">
        <div class="navigation-header">
            <h4 class="header">{{ 'Profile.navigation' | translate }}</h4>
        </div>
        <div class="navigation-context">
            <ng-container *ngTemplateOutlet="recursiveListTmpl; context: {items: links, depth: 0}"></ng-container>
        </div>
    </div>

    <div class="router-wrapper">
        <router-outlet></router-outlet>
    </div>
</div>


<ng-template #recursiveListTmpl let-items="items" let-depth="depth">
    <div *ngFor="let link of items">
        <ng-container *ngIf="link.children">
            <ng-container *ngTemplateOutlet="singleParent; context: {link: link, depth: depth}">
            </ng-container>
        </ng-container>
        <ng-container *ngIf="!link.children">
            <ng-container *ngTemplateOutlet="singleItem; context: {link: link, depth: depth}">
            </ng-container>
        </ng-container>
    </div>
</ng-template>

<ng-template #singleItem let-link="link" let-depth="depth">
    <a class="navigator" [ngStyle]="{'padding-left': (depth * 15) + 'px'}"
        [ngClass]="ActiveRoute === link.link ? 'active' : ''" [routerLink]="link.link" routerLinkActive="active">
        <ng-container *ngIf="link.icon">
            <span class="material-symbols-outlined">{{ link.icon }}</span>
        </ng-container>
        <div class="label">{{ link.label }}</div>
    </a>
</ng-template>


<ng-template #singleParent let-link="link" let-depth="depth">
    <div *appPermittedIf="link.appPermittedIf">
        <mat-accordion class="accordion">
            <mat-expansion-panel style="background-color: #f5f9fb; color: #11324d;" [expanded]="isActiveParent(link)">
                <mat-expansion-panel-header>
                    <mat-panel-title style="display: flex; align-items: center; gap: 5px;">
                        <ng-container *ngIf="link.icon">
                            <span class="material-symbols-outlined">{{link.icon}}</span>
                        </ng-container>
                        <span class="label">{{link.label}}</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{items: link.children, depth: depth + 1}">
                </ng-container>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</ng-template>