<div class="container">
    <div class="header">
        <h4>Doctor Overview</h4>
        <p>Discover all of the Doctors in platform</p>
    </div>
    <div class="gridview-container">
        <div class="btn-wrapper">
            <button mat-raised-button (click)="clearFiltiration()">Clear Filtiration</button>
            <button mat-raised-button color="primary">Add New Doctor</button>
        </div>
        <div class="filter-wrapper">
            <form [formGroup]="form">
                <mat-form-field appearance="outline" class="name-search">
                    <input matInput formControlName="name" type="text" placeholder="Search doctors by name..." />
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Search by Specialty</mat-label>
                    <mat-select formControlName="specialty">
                        <mat-option [value]="specialty.id"
                            *ngFor="let specialty of specialties">{{specialty.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Search by Department</mat-label>
                    <mat-select formControlName="department">
                        <mat-option [value]="department.id"
                            *ngFor="let department of departments">{{department.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Search by Hospital</mat-label>
                    <mat-select formControlName="hospital">
                        <mat-option [value]="hospital.id"
                            *ngFor="let hospital of hospitalList">{{hospital.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>{{ 'Hospital.filterSort' | translate }}</mat-label>
                    <mat-select id="sortHospitals" formControlName="sort">
                        <mat-option value="asc">{{ 'Hospital.sortOptions.asc' | translate }}</mat-option>
                        <mat-option value="desc">{{ 'Hospital.sortOptions.desc' | translate }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
        </div>

        <div class="table-wrapper">
            <app-gridview [dataSource]="dataSource" [fieldToColumnNames]="fieldToColumnNames"
                [displayedColumns]="displayedColumns" [loading]="loading" [resultsLength]="resultsLength"
                (refresh)="triggerRefresh()" [type]="'doctor'"></app-gridview>
        </div>
    </div>
</div>