<div class="body">
    <div class="container" [ngClass]="{ 'change': isSignupMode }">
        <div class="forms-container">
            <div class="form-control signup-form">
                <form action="#" id="signup-form" [formGroup]="signupForm">
                    <h2>Qeydiyyat</h2>
                    <div class="input-group">
                        <div class="input-field">
                            <i class="fas fa-user"></i>
                            <input type="text" id="sign-up-fname" formControlName="firstName" />
                            <label for="sign-up-fname">Ad</label>
                        </div>

                        <div class="input-field">
                            <i class="fas fa-user"></i>
                            <input type="text" id="sign-up-lname" formControlName="lastName" />
                            <label for="sign-up-lname">Soyad</label>
                        </div>
                        <div class="input-field">
                            <i class="fas fa-envelope"></i>
                            <input type="email" id="sign-up-email" formControlName="email" />
                            <label for="sign-up-email">Email</label>
                        </div>

                        <div class="input-field">
                            <i class="fas fa-lock"></i>
                            <input [type]="passwordVisible ? 'text' : 'password'" id="sign-up-password"
                                formControlName="password" />
                            <label for="sign-up-password">Şifrə</label>
                            <i class="far fa-eye toggle-password"
                                [ngClass]="passwordVisible ? 'fa-eye-slash' : 'fa-eye'" (click)="togglePassword()"></i>
                        </div>
                    </div>

                    <button type="submit" class="btn-gradient" [disabled]="signupForm.invalid">Qeydiyyatdan keç <i
                            class="fas fa-arrow-right"></i></button>
                </form>
                <span class="divider">və yaxud</span>
                <div class="socials">
                    <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social-icon"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>

            <div class="form-control signin-form">
                <form action="#" id="login-form" (submit)="login()" [formGroup]="loginForm">
                    <h2>Daxil Ol</h2>

                    <div class="input-group">
                        <div class="input-field">
                            <i class="fas fa-envelope"></i>
                            <input type="text" id="sign-in-email" formControlName="email" />
                            <label for="sign-in-email">Email</label>
                            <app-form-control-errors [control]="loginForm.get('email')"></app-form-control-errors>
                        </div>

                        <div class="input-field">
                            <i class="fas fa-lock"></i>
                            <input [type]="passwordVisible ? 'text' : 'password'" id="sign-in-password"
                                formControlName="password" />
                            <label for="sign-in-password">Şifrə</label>
                            <i class="far fa-eye toggle-password"
                                [ngClass]="passwordVisible ? 'fa-eye-slash' : 'fa-eye'" (click)="togglePassword()"></i>
                            <app-form-control-errors [control]="loginForm.get('password')"></app-form-control-errors>
                        </div>
                    </div>

                    <button type="submit" class="btn-gradient" [disabled]="loginForm.invalid">Daxil ol <i
                            class="fas fa-arrow-right"></i></button>
                </form>
                <span class="divider">və yaxud</span>
                <div class="socials">
                    <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social-icon"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>

        <div class="intros-container">
            <div class="intro-control signin-intro">
                <div class="intro-control__inner">
                    <h2>Xoş gəlmisiniz!</h2>
                    <p>
                        Yenidən xoş gəldiniz! Sizi burada görmək bizi çox sevindirir. Ümid edirik ki, hər şey yaxşıdır
                        və qaldığınız yerdən rahat şəkildə davam edə bilərsiniz. Hazırsınızsa, başlayaq!
                    </p>
                    <button id="signup-btn" class="btn-outline" (click)="toggle()">Hesabınız yoxdur? <span>Qeydiyyatdan
                            keçin</span></button>
                </div>
            </div>
            <div class="intro-control signup-intro">
                <div class="intro-control__inner">
                    <h2>Bizə qoşulun!</h2>
                    <p>
                        Sizi burada görmək bizi çox sevindirir! Əgər hələ hesab yaratmamısınızsa, indi qeydiyyatdan
                        keçin və tibbi xidmətlərə, xüsusi təkliflərə və daha çoxuna asanlıqla giriş əldə edin!
                    </p>
                    <p *ngIf="signupForm.invalid">Form is invalid</p>
                    <p *ngIf="signupForm.valid">Form is valid</p>
                    <button id="signin-btn" class="btn-outline" (click)="toggle()">Artıq hesabınız var? <span>Daxil
                            olun</span></button>
                </div>
            </div>
        </div>
    </div>

</div>