<div class="navbar-wrapper">
    <mat-toolbar-row>
        <a routerLink="/" class="navbar-l">
            <span class="material-icons">local_hospital</span>
            <h1>MediPortal</h1>
        </a>
    </mat-toolbar-row>
    <mat-toolbar-row class="navbar-m">
        @for (item of routes; track $index) {
        <button>
            <a [routerLink]='item.href'>
                <span class="material-icons">{{item.icon}}</span>
                <span>{{'Navigation.'+ item.href | translate}}</span>
            </a>
        </button>
        }
    </mat-toolbar-row>
    <mat-toolbar-row class="navbar-r">
        <button [matMenuTriggerFor]="belowMenu">
            <span class="material-icons">public</span>
            <mat-menu #belowMenu="matMenu" xPosition="before">
                <button *ngFor="let item of translate.getLangs()" (click)="changeLang(item)"
                    [ngClass]="item === translate.currentLang ? 'selected_lang' : ''" mat-menu-item>
                    <span>{{ languages[item] }}</span>
                </button>
            </mat-menu>
            <span>{{"Navigation.translate" | translate}}</span>
            <span class="material-icons">arrow_drop_down</span>
        </button>
        <div>
        </div>
    </mat-toolbar-row>
</div>