.navbar-wrapper {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #fff;

    .icon-wrapper {
        display: flex;
        align-items: center;

        .navbar-l {
            display: flex;
            align-items: center;
            column-gap: 5px;
            color: #14a4d4;
            text-transform: uppercase;
            text-decoration: none;
            margin-left: 2rem;

            >.material-icons {
                font-size: 36px;
            }
        }

    }

    .navbar-m {
        display: flex;
        column-gap: 3rem;

        button {
            display: flex;
            align-items: center;
            background-color: transparent;
            border: none;
            padding: 8px 15px;
            transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
            border-radius: 10px;

            a {
                display: flex;
                align-items: center;
                text-decoration: none;
                color: #2c3e50;
            }

            a.active {
                color: #14a4d4;
            }

            a.active:hover {
                cursor: not-allowed;
            }


            span:first-of-type {
                margin-right: 4px;
                font-size: 1.2rem;
                transition: transform .15s ease-in-out;
            }

            span:last-of-type {
                font-size: 1.2rem;
            }
        }

        button:has(a:not(.active)):hover {
            background-color: rgba(20, 164, 212, 0.1);
            cursor: pointer;

            a {
                color: #14a4d4;
            }

            span:first-of-type {
                transform: translateY(-2px);
            }
        }

        button:has(a.active) {
            background-color: rgba(20, 164, 212, 0.1);
            color: #14a4d4;
            cursor: default;
        }

        button:has(a.active):hover {
            background-color: rgba(20, 164, 212, 0.1);
            color: #14a4d4;
            cursor: not-allowed;
        }
    }

    .navbar-r {
        display: flex;
        column-gap: 1rem;
        color: #2c3e50;

        button {
            background-color: transparent;
            border: none;
            display: flex;
            align-items: center;
            column-gap: 5px;
            transition: color .15s ease-in-out, background-color .15s ease-in-out;
            font-size: 16px;
            padding: 8px 16px;
            border-radius: 10px;

            span:first-of-type {
                transition: transform .15s ease-in-out;
            }
        }

        button:hover {
            background-color: rgba(20, 164, 212, 0.1);
            cursor: pointer;
            color: #14a4d4;

            span:first-of-type {
                transform: translateY(-2px);
            }
        }

        .profile-section {
            text-decoration: none;
            color: #2c3e50;
            display: flex;
            align-items: center;
            column-gap: 1rem;

            .profile-photo {
                background-image: url('/assets/images/download.jpeg');
                background-position: center;
                background-size: cover;
                width: 50px;
                height: 50px;
                background-color: red;
                border-radius: 50%;
            }

            .profile-info {
                display: flex;
                flex-direction: column;
                column-gap: 5px;

                .profile-name {
                    font-size: 16px;
                }

                .user-role {
                    font-size: 12px;
                    font-weight: bold;
                }
            }
        }
    }
}