<div class="navbar-wrapper">
    <mat-toolbar-row class="icon-wrapper">
        <button mat-icon-button (click)="toggleSidenav()" *appPermittedIf="'Admin.full'">
            <mat-icon>menu</mat-icon>
        </button>
        <a routerLink="/" class="navbar-l">
            <span class="material-icons">local_hospital</span>
            <h1>MediPortal</h1>
        </a>
    </mat-toolbar-row>
    <mat-toolbar-row class="navbar-m">
        @for (item of routes; track $index) {
        <button>
            <a [routerLink]='item.href' [ngClass]="{'active': activeUrl.includes(item.href)}">
                <span class="material-icons">{{item.icon}}</span>
                <span>{{'Navigation.'+ item.href | translate}}</span>
            </a>
        </button>
        }
    </mat-toolbar-row>
    <mat-toolbar-row class="navbar-r">
        <a class="profile-section" [routerLink]="'profile'">
            <div class="profile-photo"></div>
            <div class="profile-info">
                <span class="profile-name">{{token.name}} {{token.surname}}</span>
                <span class="user-role">{{token.role?.name}}</span>
            </div>
        </a>
        <button [matMenuTriggerFor]="belowMenu">
            <span class="material-icons">public</span>
            <mat-menu #belowMenu="matMenu" xPosition="before">
                <button *ngFor="let item of translate.getLangs()" (click)="changeLang(item)"
                    [ngClass]="item === translate.currentLang ? 'selected_lang' : ''" mat-menu-item>
                    <span>{{ languages[item] }}</span>
                </button>
            </mat-menu>
            <span class="material-icons">arrow_drop_down</span>
        </button>
    </mat-toolbar-row>
</div>