.container {
    padding: 2.5rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    background-color: #fcfcfc;
}

.dashboard-header {
    color: #3b3e41;
    font-size: 2rem;
}

.subtitle {
    color: #989c9f;
    padding: 10px 0;
    font-size: 1.3rem;
    font-weight: 300;
}

.general-information-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 10px 0;
}

.information-cards {
    height: 200px;
    border: 1px solid #dfe5eb;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.information-cards>.total-information {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.information-cards>.total-information {
    .material-symbols-outlined {
        color: #0072d5;
        background-color: #e8f1fb;
        padding: 12px;
        border-radius: 10px;
    }

    .label {
        font-size: 1.1rem;
        color: #6f7379;
    }

    .count {
        font-size: 1.7rem;
        font-weight: bold;
    }
}

.information-cards>.percentage {
    color: #10a63d;
}

.body-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.doctor-management,
.appointment-calendar {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    border: 1px solid #dfe5eb;
    border-radius: 10px;
    padding: 1.8rem 1.5rem;
    background-color: #fff;

    >.header {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .header-label {
            font-weight: bold;
            font-size: 1.2rem;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
        }

        .information {
            font-size: 1.1rem;
            color: #929699;
        }
    }
}

.doctor-card-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 0;

    .doctor-card {
        border: 1px solid #dfe5eb;
        border-radius: 10px;
        padding: 20px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);

        .left-side {
            display: flex;
            align-items: center;
            gap: 10px;

            .image-wrapper {
                width: 35px;
                height: 35px;
                border-radius: 50%;
                background-image: url('/assets/images/download.jpeg');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }

            .info-wrapper {
                display: flex;
                flex-direction: column;
                gap: 5px;

                .name {
                    font-size: 1.1rem;
                    font-weight: 600;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
                }

                .specialty {
                    font-size: 1rem;
                    color: #7a7e83;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
                }
            }
        }
    }
}



.custom-calendar-container {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    overflow: hidden;
    margin: 20px;
}


.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: #001f3f;
    color: white;
}

.month-title {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

.nav-button {
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    padding: 5px;
}


:host ::ng-deep .cal-month-view .cal-header {
    border-bottom: 100px;

}

:host ::ng-deep .cal-month-view .cal-header .cal-cell {
    padding: 8px 0;
    font-size: 12px;
    font-weight: 500;
    color: #555;
    text-transform: capitalize;

}


:host ::ng-deep .cal-month-view .cal-day-cell {
    height: 20px;
    padding: 0;
}


:host ::ng-deep .cal-month-view .cal-day-cell .cal-day-number {

    max-height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px auto;
    border-radius: 50%;
    font-size: 14px;
    font-weight: 500;
    color: #333;
    cursor: pointer;
    padding: 10px;
}


:host ::ng-deep .cal-month-view .cal-day-cell:not(.cal-in-month) .cal-day-number {
    color: #bbb;

}



:host ::ng-deep .cal-month-view .cal-day-cell.cal-in-month.cal-clicked .cal-day-number {
    background-color: #007bff;
    color: white;
    font-weight: 600;
}


:host ::ng-deep .cal-month-view .cal-day-cell {

    min-height: 60px !important;


    padding: 0;
}

.prevMonthBtn,
.nextMonthBtn {
    color: white;
    font-size: 1.1rem;
    background: transparent;
    border: none;
    transition: all 0.1s ease-in;

    &:hover {
        transform: translateY(-1px);
        font-size: 1.3rem;
        cursor: pointer;
    }
}


:host ::ng-deep .cal-month-view .cal-day-cell.is-selected .cal-day-number {
    background-color: #007bff;
    color: white;
    font-weight: 600;
}


:host ::ng-deep .cal-month-view .cal-day-cell {
    position: relative;
}


:host ::ng-deep .cal-month-view .cal-day-cell .cal-day-number {
    transition: background-color 0.1s, color 0.1s;
}