.container {
    width: 400px;
    height: 100vh;
    display: flex;
    flex-direction: column;



    .header-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 15px;
        border-bottom: 1px solid #e5e5e5;
        color: #475569;

        .header-text-wrapper {
            display: grid;
            gap: 10px;

            .header {
                font-size: 20px;
                font-weight: 600;
            }

            .description {
                font-size: 16px;
                font-weight: 300;
            }
        }

        .close-btn-wrapper {
            margin-right: 10px;
            background: none;
            border: none;
            transition: all 0.25s ease-in;

            &:hover {
                cursor: pointer;
                transform: translateY(-3px);
            }
        }
    }

    .body {
        flex: 1;
        overflow-y: auto;

        >.container {
            display: flex;
            flex-direction: column;
            padding: 20px 10px;
            color: #475569 !important;
            row-gap: 5px;
        }

        .menu-link {
            display: flex;
            align-items: center;
            width: 100%;
            padding: 5px 10px 5px 24px;
            justify-content: flex-start;
            margin: 5px 0;

            &.active {
                color: #fff;
                background-color: #2463eb;
            }

            &:hover {
                background-color: #3c82f6;
                color: #fff;
            }
        }

        .module-name {
            margin-left: 8px;
            font-weight: 500;
            font-size: 15px;
        }

        .expansion-panel {
            box-shadow: none;
        }

        .child-link {
            padding-left: 10px;
        }


    }

    .footer {
        border-top: 1px solid #e5e5e5;
        padding: 20px;
        display: flex;
        align-items: center;
        column-gap: 20px;

        .photo-wrapper {
            display: flex;
            color: #fff;
            align-items: center;
            justify-content: center;
            background-color: #2463eb;
            border-radius: 50%;
            width: 40px;
            height: 40px;
        }

        .general-info-wrapper {
            display: flex;
            flex-direction: column;
            row-gap: 7px;

            .user-name {
                font-size: 16px;
                color: #374151;
            }

            .user-role {
                padding: 3px 10px;
                background-color: #ffe2e1;
                color: #9e0812;
                border-radius: 5px;
                border: 1px solid #ffcaca;
                font-size: 13px;
            }
        }
    }
}

::ng-deep .mat-expansion-panel-header:hover {
    background-color: #3c82f6 !important;
    color: #fff !important;
}