<div class="about-container">
    <div class="about-wrapper">
        <div class="about-content-wrapper mat-typography">
            <div>
                <h3>{{'MainAbout.title' | translate}}</h3>
                <div class="divider"></div>
            </div>
            <div>
                <span>
                    {{'MainAbout.description' | translate}}
                </span>
            </div>
        </div>
        <div class="about-image-wrapper">
            <img src="https://images.pexels.com/photos/263402/pexels-photo-263402.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                alt="" width="500px" height="350px" />
        </div>
    </div>
</div>