.wrapper {
    width: 100%;

    .hero-container {
        min-height: 85vh;
        background: linear-gradient(170deg, #14a4d4, #171717);
        display: flex;
        align-items: center;

        .hero-wrapper {
            margin: 0 auto;
        }
    }

    .about-container {
        display: flex;
        min-height: 60vh;
        background-color: #f8f9fa;
        max-width: 100%;
    }

    .contact-container {
        display: flex;
        min-height: 60vh;
        align-items: center;
        min-width: 100%;
        justify-content: center;
    }
}