.wrapper {
    display: flex;
    flex-direction: column;

    .navbar-wrapper {
        display: flex;
        height: 70px;
        align-items: center;
        justify-content: space-around;
        padding: 1rem;

        .navbar-l {
            display: flex;
            align-items: center;
            column-gap: 5px;
            color: #14a4d4;
            text-transform: uppercase;

            >.material-icons {
                font-size: 36px;
            }
        }

        .navbar-m {
            display: flex;
            column-gap: 3rem;

            button {
                display: flex;
                align-items: center;
                background-color: transparent;
                border: none;
                padding: 8px 15px;
                transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
                border-radius: 10px;

                a {
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    color: #2c3e50;
                }

                span:first-of-type {
                    margin-right: 4px;
                    font-size: 1.2rem;
                    transition: transform .15s ease-in-out;
                }

                span:last-of-type {
                    font-size: 1.2rem;
                }
            }

            button:hover {
                background-color: rgba(20, 164, 212, 0.1);
                cursor: pointer;

                a {
                    color: #14a4d4;
                }

                span:first-of-type {
                    transform: translateY(-2px);
                }
            }
        }

        .navbar-r {
            color: #2c3e50;

            button {
                background-color: transparent;
                border: none;
                display: flex;
                align-items: center;
                column-gap: 5px;
                transition: color .15s ease-in-out, background-color .15s ease-in-out;
                font-size: 16px;
                padding: 8px 16px;
                border-radius: 10px;

                span:first-of-type {
                    transition: transform .15s ease-in-out;
                }
            }

            button:hover {
                background-color: rgba(20, 164, 212, 0.1);
                cursor: pointer;
                color: #14a4d4;

                span:first-of-type {
                    transform: translateY(-2px);
                }
            }
        }
    }
}