<div class="contact-wrapper">
    <div class="header">
        <h3>Contact Us</h3>
    </div>
    <div class="body">
        <div class="body-info-section">
            <div class="info-data-section">
                <div>
                    <div class="icon-container">
                        <mat-icon>location_on</mat-icon>
                    </div>
                </div>
                <div class="data-container">
                    <span class="data-header">Address</span>
                    <span class="data-text">123 Healthcare Street, Baku, Azerbaijan</span>
                </div>
            </div>
            <div class="info-data-section">
                <div>
                    <div class="icon-container">
                        <mat-icon>call</mat-icon>
                    </div>
                </div>
                <div class="data-container">
                    <span class="data-header">Phone</span>
                    <span class="data-text">+994 12 345 67 89</span>
                </div>
            </div>
            <div class="info-data-section">
                <div>
                    <div class="icon-container">
                        <mat-icon>message</mat-icon>
                    </div>
                </div>
                <div class="data-container">
                    <span class="data-header">Email</span>
                    <span class="data-text">{{'info@medaze.az'}}</span>
                </div>
            </div>

        </div>
        <div>
            
        </div>
    </div>
</div>