<div class="container">
    <div class="general-information-wrapper" [ngStyle]="{
       'background-image': 'linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(' + data.image + ')',
       'background-size': 'cover',
       'background-position': 'center',
       'background-repeat': 'no-repeat'
     }">
        <div class="general-rating-wrapper">
            <span class="material-icons general-star">
                star
            </span>
            <span class="general-rating">4.8</span>
            <span class="general-info">{{data.type}}</span>
        </div>
        <div class="general-name-wrapper">
            <h3 class="general-name">{{data.name}}</h3>
        </div>
        <div class="general-location-wrapper">
            <span class="material-icons">
                location_on
            </span>
            <p class="general-location">{{data.adresses[0].city}}, {{data.adresses[0].county}}</p>
        </div>
        <button class="material-icons" (click)="closeDialog()">
            close
        </button>
    </div>
    <div class="body-wrapper">
        <p class="body-description">{{data.description}}
        </p>
        <div class="card-wrapper">
            <div class="card" *ngFor="let item of hospitalInfo">
                <span class="material-icons">{{item.icon}}</span>
                <div>
                    <span class="info-name">{{item.name}}</span>
                    <span class="info-data">{{data.capacities[0][item.value]}}</span>
                </div>
            </div>
        </div>
        <div class="specialities-wrapper">
            <h2 class="header">Medical Departments</h2>
            <div class="specialities-container">
                <div class="speciality" *ngFor="let item of data.departments">{{item.name}}</div>
            </div>
        </div>
        <div class="button-container">
            <button class="appoint-btn" (click)="redirectTo(['book-appointment'])">
                Book Appointment
            </button>
            <button class="view-btn">View More Info</button>
        </div>
    </div>
</div>