<div class="wrapper">
    <mat-card class="welcome-card">
        <mat-card-header>
            <mat-card-title class="title">
                {{"Main.Hero.welcomeTitle" | translate}}
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p class="header-description">
                {{"Main.Hero.welcomeDescription" | translate}}
            </p>
        </mat-card-content>
        <mat-card-content class="hero-asistant-wrapper">
            <app-hero-asistant></app-hero-asistant>
        </mat-card-content>
    </mat-card>
    <div>
        <img mat-card-image
            src="https://img.freepik.com/free-vector/hospital-building-concept-illustration_114360-8440.jpg"
            alt="hero-image">
    </div>
</div>